
/*Atributos para el body*/
body{
    background-image: url(https://s3.amazonaws.com/makeitreal/cars/jaguar-xe.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
}
/*Atributos para el contenido*/
.contenido{
    background-color: rgba(0, 0, 0, 0.678);
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%;    
    font-family: 'Roboto';
    max-width: 600px;
    color: white;
    border-radius: 20px;
    padding: 1%;
    }
/*Atributos para el parrafo*/
p{    
    margin: 10px;
}
/*Atributos para el h1*/
h1{
    margin: 10px;    
}
/*Atributos para el boton*/
.boton {
    background-color:#DB3030;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
  }
